/*CSS*/

body {
	background-color: lightblue;
}


.headclass {
	background-color: Orange;
	border: 5px solid Yellow;
	border-radius: 20px;
	padding-left: 20px;
	font-size: 120%
}



.sidebar{
	width: 16%;					/*breite */
	height: 100%;				/*höhe */
	position: fixed;			/*absolute, static, fixed etc */
	display:  inline-block;		/*positioniert sich nebeneinander wenn möglich */
	/*float: right;*/			/*rechts hinsetzen*/
	right: 0;					/*rechts hinsetzen*/
	background-color: orange;	/*background */
	border: 5px solid yellow;
	/*margin-top: 5px;
	margin-right 50px;*/
	text-align: center;
	padding-top: 5px;
	
}

.navigation {
	background-color: darkorange;
	border: 2px solid black;
	padding-left: 20px;
	font-size: 120%;
	
}

.recipeareal {
	margin: 10px;
	
	
}