/*CSS*/

body {
	background-color: lightblue;
	
}


/*mainview essential classes*/
.headclass {
	background-color: Orange;
	border: 5px solid Yellow;
	border-radius: 20px;
	padding-left: 20px;
	font-size: 120%
}
.sidebar{
	width: 16%;					/*breite */
	height: 100%;				/*höhe */
	position: fixed;			/*absolute, static, fixed etc */
	display:  inline-block;		/*positioniert sich nebeneinander wenn möglich */
	/*float: right;*/			/*rechts hinsetzen*/
	right: 0;					/*rechts hinsetzen*/
	background-color: orange;	/*background */
	border: 5px solid yellow;
	/*margin-top: 5px;
	margin-right 50px;*/
	text-align: center;
	padding-top: 5px;
	
}
.navigation {
	background-color: darkorange;
	border: 2px solid black;
	padding-left: 20px;
	font-size: 120%;
	
}
.recipeareal {
	padding-left: 25px;
	margin: 25px;
	background-color: AliceBlue;
	font-family: sans-serif;
	font-size: 18px;
	
}
.recipearealmain {
	padding-left: 25px;
	margin: 25px;
	font-family: sans-serif;
	font-size: 18px;
	
	
}


/*Login/Register*/
.loginblock{
	background-color: pink;
	border: 5px solid grey;
	text-align: center;
	width: 20%;
	margin: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 25px;
	
}
.registerblock{
	font-family: sans-serif;
	background-color: pink;
	border: 5px solid grey;
	text-align: center;
	width: 50%;
	margin: 10px;
	/*display:  inline-block;	*/
	padding-bottom: 5px;
}
.error {
	background-color: AliceBlue;
	text-align: center;
	width: 20%;
	margin: 10px;
	/*display:  inline-block;	*/
	padding-bottom: 5px;
	
}

/* Contactpage */
.informationtext {
		font-family: sans-serif;
		font-size: 18px;
		background: Azure ;
		padding-left: 30px;
		margin-left: 15px;
	
}
.shiftedinfotext {
		padding: 1px 30px;
	 
	
}
.contactform {
		font-family: sans-serif;
		color: black;
		padding: 5px 10px;
		cursor: pointer;
		border: none;
		border-radius: 8px;
}

/* Newsletter  */
.newsletter {
	border: 4px solid #f1f1f1;
}
.newsletterform {
	width: 100%;
    padding: 7px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	
}

/* Exa Recipe page  */
.maincontent {
	font-family: sans-serif;
	font-size: 18px;
	background-color:  Azure  ;
	padding-left: 30px;
	margin-left: 15px;
	padding-bottom: 30px;
	
}

/*  */

form, .content {
	margin-left: 25px;
	width: 30%;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: AliceBlue ; /*AliceBlue*/
	border-radius: 0px 0px 10px 10px;

.btn {
	border: none;
	border-radius: 5px;
	padding: 25px;
	font-size: 30px;
	color: white;
	background: RED;
	
}
